/* Reset default browser styles */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, label, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Set box-sizing to border-box */
* {
    box-sizing: border-box;
}

/* Overall container styling */
.container {
    margin: 0 auto;
    width: 80%;
    text-align: center; /* Center align the content */
}

/* Back to profile link styling */
.back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.back-link:hover {
    background-color: #218838;
}

/* Heading styling */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Form styling */
form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Message styling */
.message {
    margin-bottom: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

/* Friend container styling */
.friend-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 10px;
}

.friend-container span {
    margin-right: 10px;
}

.friend-button-container {
    display: flex;
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
}

.friend-button-container > * {
    margin-left: 10px;
    vertical-align: middle; /* Align elements vertically */
}

/* Button styling */
.styled-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #218838;
}

/* Center align friend requests and friends lists */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: left;
}
