body {
    font-family: Arial, sans-serif;
    background-color: #FEFCE7;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 10px auto auto;
    width: 50%;
    min-width: 370px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
}

.back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.back-link:hover {
    background-color: #0056B3;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.friend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.friend-container span {
    margin-right: 10px;
}

.friend-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.friend-button-container > * {
    margin-left: 10px;
    vertical-align: middle;
}

.styled-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #0056B3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: left;
}

.bold-username {
    font-weight: bold;
}
