body {
    font-family: Arial, sans-serif;
    background-color: #FEFCE7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-box {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056B3;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-button {
    margin-top: 10px;
    padding: 8px 20px;
    width: 150px;
    text-align: center;
}

