<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link th:href="@{/message.css}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Now chatting with <span th:text="${friend}"></span></h1>
    <a th:href="@{/friends}" class="nav-button">Back</a>
    <div class="message-container" id="message-container">
        <div class="message-list" id="message-list">
            <!-- Messages will be displayed here -->
            <div th:each="message : ${messageList}" class="message-item" th:classappend="${message.sender == loggedInUser} ? 'right' : 'left'">
                <span th:text="${message.sender} + ': ' + ${message.content}"></span>
            </div>
            <!-- Messages will end here -->
        </div>
    </div>
    <form th:action="@{/message/send}" method="post">
        <div class="message-input">
            <textarea id="message-text" name="messageText" placeholder="Type your message here..." required></textarea>
            <button type="submit" id="send-button">Send</button>
            <input type="hidden" name="sender" th:value="${loggedInUser}" />
            <input type="hidden" name="receiver" id="friend" th:value="${friend}" />
        </div>
    </form>
</div>
<script>
    // Listen for the Enter key press
    document.getElementById('message-text').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.getElementById("send-button").click()
        }
    });

    // Scroll the message list to the bottom
    var messageContainer = document.getElementById("message-container");
    messageContainer.scrollTop = messageContainer.scrollHeight;

    setInterval(async function (){
       var messageList = document.getElementById("message-list");
        await axios.get("/message/" + document.getElementById("friend").value).then((res) => {
            var messages = res.data.split("<!-- Messages will be displayed here -->");
            messages = messages[1].split("<!-- Messages will end here -->");
            messageList.innerHTML = messages[0];

            messageContainer.scrollTop = messageContainer.scrollHeight;
        }).catch((error) => {
            console.log(error);
        })
    }, 1000);
</script>
</body>
</html>
